body {
    background-color: black;
    color: white;
}

.main {
    padding: 1em;
} 

.container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}